html, body, #root {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
#product-index {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 97%;
}
#primary-image {
  margin: 10px;
  min-width: 30%;
  max-width: 50%;
}
#primary-image { cursor: pointer; }
#in-modal {
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}
#in-modal:hover { cursor: pointer; }
#zoom-image {
  margin-top: 10px;
  margin-bottom: 10px;
  color: grey;
}
#zoom-image:hover { cursor: pointer; }
.product-index-item {
  background-color: bisque;
  width: 200px;
  height: 200px;
  padding: 10px;
  transition: .2s;
}
.product-show {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
  padding: 25px;
  padding-bottom: 0;
}
.show-component {
  min-width: 40%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.product-show-split { min-width: 49%; }
.product-show-title { font-weight: 100; }
.product-name {
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}
.product-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-image-slide-container {
  display: flex;
  flex-flow: row;
  width: 75%;
  justify-content: space-between;
  align-content: center;
}
.slide-image {
  width: 70px;
  height: 70px;
  transition: .2s;
}
.current {
  border: .5px solid grey;
  padding: 2px;
  border-radius: 5px;
}
.image-slide-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-slide-arrow:hover, .slide-image:hover { 
  background-color: #efefef;
  opacity: .5;
  cursor: pointer; 
  transition: .7s;
}
#ratings-header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: .75em;
  font-weight: bolder;
}
#pro-con-outer-container {
  display: flex;
  flex-flow: row;
  background-color: #fcfcfc;
}
.pro-con-inner-container {
  padding: 10px;
  width: 90%;
  height: 100%;
}
.pro-con-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: .25px solid #efefef;
}
.pro-con-header > a {
  font-size: .5em;
  color: grey;
}
.pro-con-review {
  font-size: .75em;
}
.pro-con-body-header {
  display: flex;
  flex-flow: column;
  font-weight: bolder;
}
#price-container {
  border-bottom: .25px solid #efefef;
  padding-bottom: 42px;
  font-size: 2em;
  width: 75%;
}
#price-qualifier { 
  padding-left: 2px;
  font-size: .3em; 
  color: grey;
}
#promo-container {
  color: red;
  font-size: .8em;
  border-bottom: .25px solid #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 75%;
}
.promo {
  margin-top: 5px;
  margin-bottom: 5px;
}
#quantity-field {
  border: .5px solid #efefef;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#quantity-field > a {
  font-size: .75em;
}
#quantity-button-container {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.quantity-button {
  position: relative;
  background-color: #bdbdbd;
  max-height: 20%;
  min-width: 20%;
  max-width: 20%;
  text-align: center;
  border-radius: 50%;
  color: white;
}
#cart-buttons-container {
  display: flex;
  justify-content: space-around;
  width: 75%;
}
.cart-button {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 33%;
  text-align: center;
  color: white;
  border-radius: 2px;
}
#add-to-cart { background-color: red }
#pick-up { background-color: black }
#add-to-cart:hover, 
#pick-up:hover, 
.product-index-item:hover,
.option-button:hover, 
.quantity-button:hover { 
  cursor: pointer;
  opacity: .5; 
  transition: .5s;
}
#returns-container { 
  display: flex; 
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
  width: 75%;
  color: grey;
}
#returns-left { 
  font-weight: 100;
  font-size: 1.2em;
  padding-right: 10px;
  border-right: .5px solid #efefef;
}
#returns-right {
  font-size: .6em;
  padding-left: 10px;
}
#cart-options-container { 
  margin-top: 10px;
  display: flex; 
  justify-content: space-around;
  align-items: baseline;
  width: 75%;
}
.option-button {
  font-size: .75em;
  width: 30%;
  padding: 5px;
  background-color: #efefef;
  border-radius: 2px;
  text-align: center;
  color: grey;
}
#product-feature-container > div { padding: 10px; font-size: 2em; }
#product-feature-container > ul { padding-left: 20px; }
.feature-item { color: grey; font-size: .75em; margin: 5px; }