html, body, #root {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
#product-index {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 97%;
}
#primary-image {
  margin: 10px;
  min-width: 30%;
  max-width: 50%;
}
.product-index-item {
  background-color: bisque;
  width: 200px;
  height: 200px;
  padding: 10px;
  transition: .2s;
}
.product-index-item:hover {
  opacity: .7;
  cursor: pointer;
  transition: .5s;
}
.product-show {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px;
}
.show-component {
  width: 40%;
  min-width: 50%;
}
.product-show-title {
  font-weight: 100;
}
.product-name {
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}
.product-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-image-slide-container {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  align-content: center;
}
.slide-image {
  width: 70px;
  height: 70px;
}
.current {
    border: .5px solid grey;
    padding: 2px;
    border-radius: 5px;
}
.image-slide-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}